@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

.loadingAnimation {
  display: flex;
  margin: 15em auto;
  border: 2em solid #cfcfcf;
  border-top: 2em solid #c51431;
  border-radius: 50%;
  width: 12em;
  height: 12em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
  margin: 0 auto;
}

.header img {
  height: 3em;
  width: 3em;
}

.header h1 {
  margin: 0.2em;
}

.userHeaderBox img {
  /* margin: 1em; */
  height: 3em;
  width: 3em;
  border: 0.1em solid black;
}

.userHeaderBox {
  display: flex;
}

.logInOutButton {
  display: flex;
  align-self: center;
  align-content: center;
  border: 0.1em solid #c51431;
  border-radius: 0.5em;
  padding: 0.2em 0.1em;
  margin: 0 1em;
  height: 1em;
}

.logInOutButton:hover {
  cursor: pointer;
}

.greyBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.226);
}

.logInBox {
  min-height: 20em;
  min-width: 30em;
  font-size: 1em;
  border-top: 0.2em solid #c51431;
  border-bottom: 0.2em solid #c51431;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  background: white;
}

#closeLoginButton {
  text-align: center;
  position: absolute;
  color: #c51431;
  width: 1em;
  height: 1em;
  margin: 0.5em;
}

#closeLoginButton:hover {
  cursor: pointer;
}

.logInBoxContents {
  color: #071411;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 75%;
  margin: auto;
}

.logInBoxContents form {
  font-size: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logInBoxContents form h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.logInBoxContents form p {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 0.7em;
}

#logInUsernameEntry {
  font-size: 0.8em;
  margin: 1em;
  padding: 0.3em;
  border: 0.1em solid #5290e0;
  border-radius: 0.2em;
  width: 75%;
}

#logInSubmitButton {
  font-size: 0.8em;
  background-color: #57edc9;
  width: 4em;
  margin: 1em;
  padding: 0.3em;
  border-radius: 0.2em;
}

.logInButton {
  display: flex;
}

.logInButton input {
  height: 1.8em;
}

.logInButton h4 {
  display: flex;
  font-size: 0.8em;
}

.articleCard {
  display: flex;
  border-top: 0.2em solid #c51431;
  border-bottom-color: gray;
  border-bottom-style: double;
  width: 80%;
  margin: 1.5em 10%;
  background-color: rgb(246, 246, 246);
}

.articleCard a {
  width: 98%;
  padding-left: 2%;
}

.articleCardVotes {
  border-right: 0.1em solid rgb(236, 236, 236);
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 1em;
}

.articleCardVotes h3 {
  margin: 0.3em auto;
}

.ArticleCardContent {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.articleCard a {
  color: black;
  text-decoration: none;
}

.articleCard a {
  color: black;
  text-decoration: none;
}

.nextPrevArticlePage {
  bottom: 0;
  border-top: 0.1em solid rgb(228, 228, 228);
  width: 80%;
  margin: 0 10%;
  margin-top: 1.5em;
  padding-top: 0.2em;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

.changePageButton {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 0.3em;
}

.changePageButton:hover {
  cursor: pointer;
}

.topicBar {
  width: 80%;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.5em;
  display: flex;
  background-color: #c51431;
}

.topicBar a {
  font-size: 0.8 em;
  color: white;
  text-decoration: none;
  padding: 0.75em;
}

.topicBar a:hover {
  padding-bottom: 0.2em;
  border-bottom: 0.3em solid black;
}

.topicBarTitle {
  color: white;
  background-color: #c51431;
  width: 80%;
  padding: 0 10%;
  padding-top: 1em;
  padding-bottom: 0.2em;
  margin-bottom: 0;
  margin-top: 0;
}

.articleContents {
  border-bottom-color: #c51431;
  border-bottom-style: double;
  width: 80%;
  margin: 0 10%;
  padding-bottom: 1em;
}

.articleContents p {
  font-size: 1.3em;
}

.commentBox {
  margin: 2em 0;
}

.commentInput {
  display: flex;
  flex-direction: column;
  width: 30em;
  padding-bottom: 5em;
  margin: 0.4em 0;
  font-size: 1em;
}
.commentButton {
  background-color: #57edc9;
}

.commentButton:hover {
  cursor: pointer;
}

.articleComments {
  width: 80%;
  padding: 0 10%;
}

#ArticleCommentsHeader {
  width: 80%;
  padding: 0 10%;
  margin-top: 3em;
}

.commentCard {
  border-top: 0.1em solid rgba(58, 58, 58, 0.5);
  display: flex;
  align-content: center;
}

.commentVotes {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 1em;
}

.commentVotes h3 {
  margin: 0.3em auto;
}

.voteArrow {
  padding: 0em;
  margin: 0em;
}

.voteArrow span:hover {
  cursor: pointer;
}

.sortBar {
  font-size: 0.8em;
  width: 80%;
  margin: 1em 10%;
  display: flex;
}

.sortBar h3:hover {
  cursor: pointer;
}

.sortBar h3 {
  padding: 0 0.5em;
  margin: 0 0.5em;
  border: 0.1em solid #c51431;
}

.commentHeader {
  display: flex;
}

.commentHeader h3,
#deleteUser {
  margin-bottom: 0em;
  margin-right: 0.5em;
}

#deleteUser:hover {
  cursor: pointer;
  color: #c51431;
}

#thumbUpColor1 {
  color: transparent;
  text-shadow: 0 0 0 rgb(15, 228, 43);
}

#thumbUpColor0,
#thumbUpColor-1,
#thumbDownColor0,
#thumbDownColor1 {
  color: transparent;
  text-shadow: 0 0 0 rgb(160, 160, 160);
}

#thumbDownColor-1 {
  color: transparent;
  text-shadow: 0 0 0 rgb(88, 87, 194);
}

#thumbUpColor0:hover {
  color: transparent;
  text-shadow: 0 0 0 rgb(15, 228, 43);
}

#thumbDownColor0:hover {
  color: transparent;
  text-shadow: 0 0 0 rgb(88, 87, 194);
}

.ArticlePageVotes {
  display: flex;
}

.ArticlePageVotes h3,
.ArticlePageVotes h4 {
  margin: 1em;
}

.errorMsg {
  text-align: center;
  font-size: 2.5em;
}

@media only screen and (max-width: 600px) {
  .articleCard {
    display: flex;
    border: 0;
    border-top: 0.1em solid black;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .articleCardVotes {
    border-right: none;
  }
  .nextPrevArticlePage {
    border-top: 0.1em solid black;
    width: 100%;
    margin: 0;
  }
  .topicBar,
  .articleContents,
  .articleCommentsHeader,
  .articleComments {
    width: 100%;
    padding: 0;
  }

  .header h1 {
    position: absolute;
    color: transparent;
    z-index: -5;
  }

  .logInBox {
    height: 100%;
    min-height: 0;
    min-width: 0;
    font-size: 1em;
    border: none;
    border-radius: 0;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-top: 0.5em double #c51431;
  }
}
