li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

body {
  margin: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
  margin: 0 auto;
}

.header img {
  height: 3em;
  width: 3em;
}

.header h1 {
  margin: 0;
}

.userHeaderBox img {
  /* margin: 1em; */
  height: 3em;
  width: 3em;
  border: 0.1em solid black;
}

.userHeaderBox {
  display: flex;
}

.logInOutButton {
  display: flex;
  align-self: center;
  align-content: center;
  border: 0.1em solid #c51431;
  border-radius: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  margin: 0 1em;
  height: 1em;
}

.logInOutButton:hover {
  cursor: pointer;
}

.greyBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.logInBox {
  min-height: 20em;
  min-width: 30em;
  font-size: 1em;
  border: 0.1em solid black;
  border-radius: 1em;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  background: white;
}

#closeLoginButton {
  text-align: center;
  position: absolute;
  color: red;
  width: 1em;
  height: 1em;
  margin: 0.5em;
}

#closeLoginButton:hover {
  cursor: pointer;
}

.logInBoxContents {
  /* border: 0.1em solid black; */
  color: #071411;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 75%;
  margin: auto;
}

.logInBoxContents form {
  font-size: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logInBoxContents form h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.logInBoxContents form p {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 0.7em;
}

#logInUsernameEntry {
  font-size: 0.8em;
  margin: 1em;
  padding: 0.3em;
  border: 0.1em solid #5290e0;
  border-radius: 0.2em;
  width: 75%;
}

#logInSubmitButton {
  font-size: 0.8em;
  background-color: #57edc9;
  width: 4em;
  margin: 1em;
  padding: 0.3em;
  border-radius: 0.2em;
}

.logInButton {
  display: flex;
}

.logInButton input {
  height: 1.8em;
}

.logInButton h4 {
  display: flex;
  font-size: 0.8em;
}

.articleCard {
  display: flex;
  border: 0.1em solid black;
  border-radius: 0.5em;
  width: 80%;
  margin: 1.5em 10%;
}

.articleCard a {
  width: 98%;
  padding-left: 2%;
}

.articleCardVotes {
  z-index: -1;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 1em;
  background-color: rgb(240, 240, 240);
}

.articleCardVotes h3 {
  margin: 0.3em auto;
}

.ArticleCardContent {
  display: flex;
  align-content: center;
  flex-direction: column;
  /* margin-left: 2em; */
  width: 100%;
}

.articleCard a {
  color: black;
  text-decoration: none;
}

.articleCard a {
  color: black;
  text-decoration: none;
}

.nextPrevArticlePage {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

.changePageButton {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0.5em;
  padding: 0.1em 0.4em;
  position: relative;
  border: 0.1em solid #c51431;
  border-radius: 0.2em;
}

.changePageButton:hover {
  cursor: pointer;
}

.topicBar {
  width: 80%;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.5em;
  display: flex;
  background-color: #c51431;
}

.topicBar a {
  font-size: 0.8 em;
  color: white;
  text-decoration: none;
  padding: 0.75em;
}

.topicBar a:hover {
  padding-bottom: 0.2em;
  border-bottom: 0.3em solid black;
}

.topicBarTitle {
  color: white;
  background-color: #c51431;
  width: 80%;
  padding: 0 10%;
  padding-top: 1em;
  padding-bottom: 0.2em;
  margin-bottom: 0;
  margin-top: 0;
}

.articleContents {
  width: 80%;
  padding: 0 10%;
}

.articleContents p {
  font-size: 1.5em;
}

.articleComments {
  width: 80%;
  padding: 0 10%;
}

#ArticleCommentsHeader {
  width: 80%;
  padding: 0 10%;
  padding-top: 3em;
  padding-bottom: 1em;
}

.commentCard {
  border-top: 0.1em solid rgba(58, 58, 58, 0.5);
  display: flex;
  align-content: center;
}

.commentVotes {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 1em;
}

.commentVotes h3 {
  margin: 0.3em auto;
}

.voteArrow {
  padding: 0em;
  margin: 0em;
}

.voteArrow span:hover {
  cursor: pointer;
}

.sortBar {
  font-size: 0.8em;
  width: 80%;
  margin: 1em 10%;
  display: flex;
}

.sortBar h3:hover {
  cursor: pointer;
}

.sortBar h3 {
  padding: 0 0.5em;
  margin: 0 0.5em;
  border: 0.1em solid #c51431;
}

.commentHeader {
  display: flex;
}

.commentHeader h3,
#deleteUser {
  margin-bottom: 0em;
  margin-right: 0.5em;
}

#deleteUser:hover {
  cursor: pointer;
  color: #c51431;
}

#thumbUpColor1 {
  color: transparent;
  text-shadow: 0 0 0 rgb(15, 228, 43);
}

#thumbUpColor0,
#thumbUpColor-1,
#thumbDownColor0,
#thumbDownColor1 {
  color: transparent;
  text-shadow: 0 0 0 rgb(160, 160, 160);
}

#thumbDownColor-1 {
  color: transparent;
  text-shadow: 0 0 0 rgb(88, 87, 194);
}

#thumbUpColor0:hover {
  color: transparent;
  text-shadow: 0 0 0 rgb(15, 228, 43);
}

#thumbDownColor0:hover {
  color: transparent;
  text-shadow: 0 0 0 rgb(88, 87, 194);
}

.ArticlePageVotes {
  display: flex;
}

.ArticlePageVotes h3,
.ArticlePageVotes h4 {
  margin: 1em;
}

.errorMsg {
  text-align: center;
  font-size: 2.5em;
}

@media only screen and (max-width: 600px) {
  .articleCard {
    display: flex;
    border: 0;
    border-top: 0.1em solid black;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .nextPrevArticlePage {
    border-top: 0.1em solid black;
    margin: 0;
  }
  .topicBar,
  .topicBarTitle,
  .articleContents,
  .articleCommentsHeader,
  .articleComments {
    width: 100%;
    padding: 0;
  }
}
